body {
  margin: 0;
  max-width: 360px;
  padding: 0;
}

.container-recipes {
  display: flex;
  flex-direction: column;

  /* flex-wrap: wrap; */
  max-height: 640px;
  max-width: 360px;
  z-index: 1;
}

.footer-container {
  bottom: 0;
  position: fixed;
  z-index: 0;
}

.recipe-img {
  height: 200px;
}

.card-image {
  width: 100px;
}

.ingredient-container {
  display: flex;
  flex-direction: column;
}

.recomedation-img {
  width: 180px;
}

.recomendation-carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
  z-index: 0;
}

.finish-recipe-btn {
  bottom: 0;
  position: fixed;
  z-index: 0;
}

.filter-done-recipes {
  margin: 20px;

  /* z-index: 0; */
}


@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
