@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');

body {
  margin: 0;
  font-family: 'Oldenburg', cursive;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Oldenburg', cursive;
}
